{% extends "landlord_app/layout.html" %}

<!--This page handles the Create New page-->

{% block title %}
    Add Unit
{% endblock %}

{% block body %}


    <h1>Add a property</h1>

<!--TO-DO: The style here is absolutely horrible.-->
    <div class='form_container'>
      <form class='add_unit' action='{% url "saveunit" %}' method="post">
        {% csrf_token %}
        <input class='nickname' type='text' name='nickname' Placeholder='Enter Nickname'>
        <input class='street_address' type='text' name='address_line1' Placeholder='Address Line 1'>
        <input class='street_address' type='text' name='address_line2' Placeholder='Address Line 2'>
        <input class='city' type='text' name='city' Placeholder='City'>
        <input class='state' type='text' name='state' Placeholder='State'>
        <input class='zipcode' type='integer' name='zipcode' Placeholder='ZIP Code'>
        <input class='number_field' type='number' name='bedrooms'>
        <input class='number_field' type='number' name='bathrooms'>
        <button type='submit'>
      </form>
    <div>


{% endblock %}
