{% extends "landlord_app/layout.html" %}

{% block title %}
  Eviction Decision Tree
{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <div class="container" id="evict-tree">
        <script src="/static/landlord_app/evict_tree.js"></script>

        <div class="form">
            <h2>Eviction Decision Tree</h2>
            <p>This tool will help you understand the proper steps to take to legally evict a tenant from a property you own.</p>
            <h2>DISCLAIMERS:</h2>
            <p>1. We are not lawyers and this tool should not be considered a replacement for legal counsel. Please consider retaining a local attorney to assist you before taking any action.</p>
            <p>2. It is NEVER legal for you, the landlord, to forcibly remove a tenant on your own.  If your tenant refuses to cooperate with a legal eviction, please contact local authorities.</p>
            <button class="btn btn-lg btn-primary btn-block" id="continue">Continue</button>
        </div>
    </div>
{% endblock %}

  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>