{% extends "landlord_app/layout.html" %}

<!--This page handles my Entries-->

{% block title %}
    Landlord App
{% endblock %}

{% block body %}

<h1>Hello you sexy fuck!</h1>

<ol>
  {% for unit in units %}
    <li>{{ unit.nickname }}</li>
<!--TO-DO: Gonna need some killer logic somewhere for this piece:-->
      <ul>
        <li>Address Line 1: {{ unit.address_line1 }}</li>
        <li>Address Line 2: {{ unit.address_line2 }}</li>
        <li>City: {{ unit.city }}</li>
        <li>State: {{ unit.state }}</li>
        <li>ZIP: {{ unit.zipcode }}</li>
        <li>Bedrooms: {{ unit.bedrooms }}</li>
        <li>Bathrooms: {{ unit.bathrooms }}</li>
      </ul>
  {% endfor %}
</ol>



{% endblock %}
