{% extends "landlord_app/layout.html" %}

<!--This page handles my Entries-->

{% block title %}
    Landlord App
{% endblock %}

{% block body %}

<h1>Hello you sexy fuck!</h1>

<ol>
  {% for unit in units %}
    <li>Your property: {{ unit }}</li>
<!--TO-DO: Gonna need some killer logic somewhere for this piece:-->
      <ul>
        <li>Nickname: {{ nickname }}</li>
        <li>Address: {{ address }}</li>
        <li>Bedrooms: {{ bedrooms }}</li>
        <li>Bathrooms: {{ bathrooms }}</li>
      </ul>
  {% endfor %}
</ol>



{% endblock %}
