{% extends "landlord_app/layout.html" %}

{% block title %}
  Landing Page
{% endblock %}
{% block head %}
    <style>
        .card {
            max-width: 800px;
            margin: auto;
        }
        
        .col-md-3 {
            display: flex;
            align-items: center;
        }

        svg {
            display: block;
            margin: auto;
        }

        #add-unit {
            display: block;
            margin: auto;
            color: rgb(1, 143, 1);
            border: 2px solid rgb(1, 143, 1);
            font-weight: bolder;
        }
    </style>

    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
{% endblock %}

{% block body %}
    <div class="container" id="unit-list">
        <script type="text/babel" src="static/landlord_app/unit_list.js"></script>
        <button type="button" class="btn btn-outline-primary">Primary</button>
    </div>

{% endblock %}