{% extends "landlord_app/layout.html" %}

{% block title %}
  Landing Page
{% endblock %}
{% block head %}
    <style>
        .card {
            max-width: 800px;
            margin: auto;
        }
        
        .col-md-3 {
            display: flex;
            align-items: center
        }

        svg {
            display: block;
            margin: auto;
        }
    </style>

    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
{% endblock %}

{% block body %}
    <div class="container" id="unit_list"></div>
    <script type="text/babel" src="static/landlord_app/components.js">
    </script>
{% endblock %}